body {
  background-color: #fff8e7;
}

h1 {
  color: #d6a85a;
  text-align: center;
  margin: 30px 0;
}

h2 {
  color: #ebd9b4;
}

p {
  color: #4b3a2f;
}

a {
  color: #7c6f62;
  text-decoration: none;
}

a:hover {
  color: #a44f4f;
  text-decoration: underline;
}

.menu-links {
  display: flex;
  justify-content: space-evenly;
}
